<pre style="width: 50%;">
Last updated on {{ world.last_updated|date:"g:i:s" }}
Last refresh on {{ now|date:"g:i:s" }}
</pre>

<hr>

<div class="row">
	<div class="span4">
		Troll: <span class="label{% if world.troll.status == 'Active' %} label-success{% elif world.troll.status == 'Warmup' %} label-warning{% elif world.troll.status == 'Preparation' %} label-info{% endif %}">{{ world.troll.status }}</span>
	</div>
	<div class="span4">
		Boar: <span class="label{% if world.boar.status == 'Active' %} label-success{% elif world.boar.status == 'Warmup' %} label-warning{% elif world.boar.status == 'Preparation' %} label-info{% endif %}">{{ world.boar.status }}</span>
	</div>
	<div class="span4">
		Oak: <span class="label{% if world.oak.status == 'Active' %} label-success{% elif world.oak.status == 'Warmup' %} label-warning{% elif world.oak.status == 'Preparation' %} label-info{% endif %}">{{ world.oak.status }}</span>
	</div>
</div>
<div class="row">
	<div class="span4">
		Bandit: <span class="label{% if world.bandit.status == 'Active' %} label-success{% elif world.bandit.status == 'Warmup' %} label-warning{% elif world.bandit.status == 'Preparation' %} label-info{% endif %}">{{ world.bandit.status }}</span>
	</div>
	<!-- 
	<div class="span4">
		Spider: <span class="label{% if world.spider.status == 'Active' %} label-success{% elif world.spider.status == 'Warmup' %} label-warning{% elif world.spider.status == 'Preparation' %} label-info{% endif %}">{{ world.spider.status }}</span>
	</div>
	-->
	<div class="span4">
		Wasp: <span class="label{% if world.wasp.status == 'Active' %} label-success{% elif world.wasp.status == 'Warmup' %} label-warning{% elif world.wasp.status == 'Preparation' %} label-info{% endif %}">{{ world.wasp.status }}</span>
	</div>
	<div class="span4">
		SB: <span class="label{% if world.shadow.status == 'Active' %} label-success{% elif world.shadow.status == 'Warmup' %} label-warning{% elif world.shadow.status == 'Preparation' %} label-info{% endif %}">{{ world.shadow.status }}</span>
	</div>
</div>
<br>
<button class="btn" onclick="$('#log').toggle();">Toggle log</button>
<br>
<div id="log" style="width: 35%; border: 1px solid gray; margin-left: auto; margin-right: auto; text-align: left; padding-left: 10px;">
    {% for line in log %}
        {{ line }}<br>
    {% endfor %}
</div>