{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block subtitle %}{% endblock %}GW2 Queensdale Zerg{% block titleAdd %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Celeo">

    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "zerg/main.css" %}">
    {% block extraCSS %}{% endblock %}
	<script src="{% static 'bootstrap/js/jquery.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap-tooltip.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			load();
			setInterval(load, 10000);
		});
		function load() {
			$("#d").val("Loading...");
			$("#d").load("http://localhost:8000/zerg/data/");
			
		}
	</script>
    {% block javascript %}{% endblock %}
    {% block extraHead %}{% endblock %}
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar">1</span>
            <span class="icon-bar">2</span>
            <span class="icon-bar">3</span>
            </button>
            <a class="brand" href="/zerg/">GW2 Queensdale Zerg Tracker</a>
        </div>
    </div>
</div>

<div class="container">

<button class="btn" onclick="load();">Refresh now</button><br><br>

<div id="d">Loading ...</div>

<hr>

From <a href="http://guildwars2.mmmos.com/index.php?page=view&id=17936&title=queensdale-champion-train-guide">MMMOS</a>:<br>
<textarea style="width: 30%; height: 200px;">Champ Train order is: 1.Troll (W of [&BPQAAAA=]), 2.Bandit (NE of [&BPQAAAA=]), 3.Oak (W of [&BPMAAAA=]), 4.Spider (NE of [&BPgAAAA=]), 5.Boar/Wasp when it's up. (N of [&BIUAAAA=] use [&BPkAAAA=])</textarea><br>
Paste that into chat to link someone the order of the train and its waypoints.

<hr>

<footer>
    <p>&copy; <a href="https://github.com/Celeo">Celeo</a> 2013</p>
    <p>
        This website uses <a href="https://www.djangoproject.com/">Django</a>, <a href="http://twitter.github.io/bootstrap/">Bootstrap</a>
    </p>
    {% block extraFooter %}{% endblock %}
</footer>
</div>
{% block loadLaterJavascript %}{% endblock %}

</body>

</html>