{% extends 'zerg/base.html' %}

{% block javascript %}

<script type="text/javascript">
	$(document).ready(function(){
		load();
		setInterval(load, 10000);
		$("#map").hide();
		$("#map").html('<img src="http://i.imgur.com/AX8eI0c.jpg"></img>');
	});
	function load() {
		var world_id = $('#world_id').val();
		$("#d").load("/zerg/data/" + world_id);
	}
</script>

{% endblock %}

{% block content %}

<h2>{{ world_name }}</h2>

<input type="hidden" id="world_name" value="{{ world_name }}">
<input type="hidden" id="world_id" value="{{ world_id }}">

<div class="container">

<button class="btn" onclick="load();">Refresh now</button><br><br>

<p>This page refreshes every 10 seconds. The backend refreshes every 30 seconds.<br>Spider doesn't have an event, and thus does not 
show on this page.</p>
<div id="d">Loading ...</div>

<hr>

From <a href="http://guildwars2.mmmos.com/index.php?page=view&id=17936&title=queensdale-champion-train-guide">MMMOS</a>:<br>
<textarea style="width: 30%; height: 200px;">Champ Train order is: 1.Troll (W of [&BPQAAAA=]), 2.Bandit (NE of [&BPQAAAA=]), 3.Oak (W of [&BPMAAAA=]), 4.Spider (NE of [&BPgAAAA=]), 5.Boar/Wasp when it's up. (N of [&BIUAAAA=] use [&BPkAAAA=])</textarea><br>
Paste into chat to link the order of the train and its waypoints.
<br><br>
<button class="btn" onclick="$('#map').toggle();">Toggle map</button><br><br>
<div id="map"></div>

{% endblock %}